<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0xQbma77tUGQYTH32GR7UJKatgV3vjl0&callback=initAutocomplete&libraries=places&v=weekly"
  defer></script>

<div id="tripContent">
  <div style="text-align:center">
    <p class="h1">
      {{trip.name}}
    </p>
    <i>{{trip.description}}</i>
  </div>
  <br>

  <div id = "sidebarContainer">
    <div id="calendarBar">
      <mat-sidenav-container class="example-container">

        <mat-sidenav #sidenav mode="side" [(opened)]="openedCalendar">
          <div id="calendarSidePanel">
            <app-calendar style="width:100%;height:800px"></app-calendar>
          </div>
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="mapPage">
            <div class="row">
              <p><button mat-button (click)="sidenav.toggle()">
                  <mat-icon> calendar_today</mat-icon>
                </button></p>
              <!-- <button type="button" (click)="toggleMap()" class="btn btn-primary"><mat-icon> map</mat-icon></button> -->
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    
    </div>
    <div id="infoBar">
      <mat-sidenav-container class="example-container" >
        <mat-sidenav #locnav mode="side" [(opened)]="openedLocInfo" position="end">
          <div class="row" id="locInfoBox">
            <img src="" id="locImg" height="200">
            <div *ngIf="currentSelectedPlace">
              <h2>
                {{currentSelectedPlace.formatted_address}}
              </h2>
              Brief Description of Location Found
            </div>
          </div>
        </mat-sidenav>
    
        <mat-sidenav-content>
          <div class="row">
            <div class="col-md-12">
              <div>
                <p><button id = locNavButton mat-button (click)="locnav.toggle()">
                  <mat-icon> navigate_before</mat-icon>
                  </button></p>
        
              </div>
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>








  <button type="button" id="saveLocButton" (click)="saveLocation()"
  [disabled]="currentSelectedPlace === undefined" class="btn btn-primary">Save Location</button>
  <div id="searchContainer">
    <input id="pac-input" class="controls" type="text" placeholder="Search For a Place" />
  </div>





  <div id="googleMap" #gmap></div>



</div>