<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0xQbma77tUGQYTH32GR7UJKatgV3vjl0&callback=initAutocomplete&libraries=places&v=weekly"
  defer></script>

<div id="tripContent">
  <div style="text-align:center">
    <p class="h1">
      {{trip?.name}}
    </p>
    <i>{{trip?.description}}</i>
  </div>
  <br>

  <div id="calendarBar">


    <div id="calendarSidePanel" [ngClass]="openedCalendar ? '' : 'closed'" class="shadow">
      <app-calendar></app-calendar>
    </div>

    <p><button mat-button id=calendarButton (click)="expandCalendar()">
        <mat-icon> calendar_today</mat-icon>
      </button></p>
    <!-- <button type="button" (click)="toggleMap()" class="btn btn-primary"><mat-icon> map</mat-icon></button> -->


  </div>



  <div id="infoBar">
    <div>
      <p><button id=locNavButton mat-button (click)="ToggleLocInfo()">
          <mat-icon> navigate_before</mat-icon>
        </button></p>

    </div>

    <div id=infoBarElems class="shadow">
      <div id="selectedPlaceCard">
        <div *ngIf="currentSelectedPlace">
          <h2>
            {{currentSelectedPlace.formatted_address}}
          </h2>
        </div>
        <img src="" id="locImg" height="200">

        <button type="button" id="saveLocButton"
          (click)="saveLocation(); this.deleteButtonVisible = true; this.planTripButtonVisible = true; this.saveLocButtonVisible = false"
          *ngIf="this.saveLocButtonVisible" [disabled]="currentSelectedPlace === undefined" class="btn btn-primary">Save
          Location</button>

        <button type="button" id="deleteLocButton"
          (click)="deleteSubTrip(); this.deleteButtonVisible = false; this.planTripButtonVisible = false; this.saveLocButtonVisible = true"
          *ngIf="this.deleteButtonVisible" [disabled]="currentSelectedPlace === undefined"
          class="btn btn-primary">Delete Location</button>

        <button type="button" id="planTripButton" (click)="planTrip()" *ngIf="this.planTripButtonVisible"
          [disabled]="currentSelectedPlace === undefined" class="btn btn-primary">Plan Trip</button>
          
          <div *ngIf="currentSelectedPlace && currentSelectedPlace.summary" id = "summary">
              {{currentSelectedPlace.summary}}
          </div>
      



      </div>

    </div>
  </div>


  <div id=routePlannerContainer>
    <div id="routePlanner" class="shadow">
      <div cdkDropList class="locList" (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal">

        <div class="example-box" *ngFor="let place of savedPlaces" cdkDrag>
          <div class=ballContainer>
            <div class="iconContainer">
              <div class="circle" [style.background-color]="place.color"></div>
            </div>

            <div class="barContainer">
              <div *ngFor="let route of routes">
                <div *ngIf="route.start_address ==place.formatted_address" class="routeText">
                  {{route.distance.text}}
                </div>
              </div>
              <div *ngIf="place.formatted_address != this.destination" class="tripOrderBar"></div>

              <div *ngFor="let route of routes">

                <div *ngIf="route.start_address ==place.formatted_address" class="routeText">
                  {{route.duration.text}}
                </div>
              </div>
            </div>
          </div>


          <div class="ballName">
            {{place.name}}
          </div>
          <div class="ball-preview" *cdkDragPreview>
            <div class="circle" [style.background-color]="place.color"></div>
            <div class="ballName">
              {{place.name}}
            </div>
          </div>

        </div>
      </div>
      <div id="optimizeButtonContainer">
        <button type="button" id="optimizeButton" (click)="optimizePath()" [disabled]="optimized==true"
          class="btn btn-primary bottomBarElems">Optimize Route</button>

        <div *ngIf="this.totalMilesStr" class="bottomBarElems botBarText">
          {{this.totalMilesStr}}
        </div>

        <div *ngIf="this.totalTimeStr" class="bottomBarElems botBarText">
          {{this.totalTimeStr}}
        </div>
      </div>


    </div>



  </div>


  <div id="searchContainer">
    <input id="pac-input" class="controls" type="text" placeholder="Search For a Place" />
  </div>
  <div id="googleMap" #gmap></div>

</div>