/* This is the container of this component. 
 * It is the full size of the screen minus the navbar
 * at the top. It is to the current component as the
 * body of an HTML document is. 
 */
 :host {
  position: absolute; 
  left: 0px; 
  top: 0px; 
  padding-top: 3.5rem;
  height: 100%; 
  width: 100%; 
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  #tripContent{
    overflow: hidden;
  }
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: rgba(255, 255, 255, 0.794);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 30vw;
    height: 3vh;
    border-color: rgba(255, 255, 255, 0.794);
    border-radius: 40px;
    border-style: solid;
  }
  
  
  #pac-input:focus {
    background-color: white;
    border-color: white;
    transition: all .2s ease-in;
    outline:none;
  }

  #tripContent{
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    flex-grow : 1;
    top:0;
    left:0;
  }

  #gmap{
    height: 100% !important;
  }

  #summary{
    margin-top: 2vh;
    margin-bottom: 2vh;
    overflow-y: scroll;
  overflow-x: hidden;
  }
  #googleMap{
    width: 100%;
    overflow: hidden;
    position: static !important;
  }
  .mat-sidenav-content{
    overflow: hidden;
  }
  .mat-sidenav-container{
    height: 100%;
    width: 100%;
  }
  
  #sidebarContainer{
    display: flex;
    position: absolute;
    margin-top:10vh;
    width: 100%;
    height: 80%;
    pointer-events: none;
    cursor: default;
  }

  #deleteLocButton{
    background-color: crimson;
  }
  #calendarBar{
    position: absolute;
    left:-45vw;
    justify-self: flex-start;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    justify-content: flex-start;
    height: 60%;
    overflow: visible;
  }

  #infoBar{
    z-index: 10000;
    position: absolute;
    right: -22%;
    justify-self: flex-start;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    
    justify-content: flex-start;
    height: 60%;
    width: 25%;
    overflow: visible;
  }
  #searchContainer{
    width: 100%;
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem; 
  }
  #calendarSidePanel{
    padding-top: 1vw;

    position:relative;
    visibility: visible;
    overflow: hidden;
  //overflow: hidden;
  width: 45vw;
  border-color: white;
  border-style: solid;
  border-bottom-right-radius: 30px;
  background-color: white;
  z-index: 10000;
  
  }


  #locNavButton{
    float: right;
    background-color: #007bff;
    color: white;
    

  }
  #locNavButton:hover{
    transition: all .2s ease-in;
    transform: scale(1.1);
  }
  #sidebarContainer{
    z-index: 10000;
  }
  #calendarButton{
    background-color: #007bff;
    color: white;
    flex-shrink: 0;
    z-index: 1000;
  }
  #calendarButton:hover{
    transition: all .2s ease-in;
    transform: scale(1.1);
  }

#selectedPlaceCard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  margin: 10%;
  width: 100%;
}
#infoBarElems{

  background-color: white;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  border-color: white;
  border-style: solid;
  border-bottom-left-radius: 30px;
}

  
.shadow{
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 9px 34px 3px rgba(221,221,221,0.31); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 9px 34px 3px rgba(221,221,221,0.31);
}
#routePlanButton{
  z-index: 1000000;
  background-color: #007bff;
  color: white;
}


#routePlanner{
  z-index: 1000;
  height: 100%;
  padding: 1vh 0vw 0vw 1vw;
  border-color: white;

  background-color: white;
  position: absolute;
  border-style: solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}
.cdk-drag{
  border: yellow;
  border-width: 1px;
}
.example-box{
  justify-content: center;
}
.locList{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cdk-drag-preview{}
.cdk-drag-placeholder{opacity:0;}
.cdk-drag-animating{transition:transform 250ms cubic-bezier(0, 0, 0.2, 1);}
.movie-block:last-child{border:none;}
.movie-list.cdk-drop-list-dragging .movie-block:not(.cdk-drag-placeholder){transition:transform 250ms cubic-bezier(0, 0, 0.2, 1);}

.circle {
  z-index: 100000;
  height:4vw;
  width:4vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius:50%;
  background: red;
}

.ballContainer{
  margin-right: 2vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tripOrderBar{
  z-index: -1;
  height: 10%;
  width: 130%;
  margin-left: -5%;
  background-color:hsl(0, 0%, 23%);
}
.barContainer{
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.ballName{
  width: 50%;
  text-align: center;
}
.ball-preview{
  z-index: 10000;
  width: 12%;
  height: 12%;
  

}

.routeText{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#routePlannerContainer{
  width:100%;
  position: absolute;
  bottom:0;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#optimizeButtonContainer{
  height: 4vh;
  display: flex;
  justify-content: space-evenly;
}

.bottomBarElems{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.botBarText{
  padding-left: 1vw;
  padding-right: 1vw;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
background-color:   #e9ecef;

}

.locButs{
  margin:.5vw;
}


button:disabled{
  opacity: 0.35; 
  color: #444;
}
.loading-text[_ngcontent-bni-c171]{
height: 100% !important;
}

.box-shadow {
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .35);
}