<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0xQbma77tUGQYTH32GR7UJKatgV3vjl0&callback=initAutocomplete&libraries=places&v=weekly"
  defer></script>

<div id="tripContent">
  <div style="text-align:center">
    <p class="h1">
      {{trip.name}}
    </p>
    <i>{{trip.description}}</i>
  </div>
  <br>

  <div id="calendarBar">


    <div id="calendarSidePanel" [ngClass]="openedCalendar ? '' : 'closed'" class="shadow">
      <app-calendar></app-calendar>
    </div>

    <p><button mat-button id=calendarButton (click)="expandCalendar()">
        <mat-icon> calendar_today</mat-icon>
      </button></p>
    <!-- <button type="button" (click)="toggleMap()" class="btn btn-primary"><mat-icon> map</mat-icon></button> -->


  </div>



  <div id="infoBar">
    <div>
      <p><button id=locNavButton mat-button (click)="ToggleLocInfo()">
          <mat-icon> navigate_before</mat-icon>
        </button></p>

    </div>

    <div id = infoBarElems class="shadow">
      <div id="selectedPlaceCard">
        <div *ngIf="currentSelectedPlace">
          <h2>
            {{currentSelectedPlace.formatted_address}}
          </h2>
        </div>
        <img src="" id="locImg" height="200">

        <button type="button" id="saveLocButton" (click)="saveLocation()" [disabled]="currentSelectedPlace === undefined"
        class="btn btn-primary">Save Location</button>
        <div>
        Brief Description of Location Found
        </div>
  
  
  
      </div>

    </div>
    



  </div>









 
  <div id="searchContainer">
    <input id="pac-input" class="controls" type="text" placeholder="Search For a Place" />
  </div>





  <div id="googleMap" #gmap></div>



</div>