/* This is the container of this component. 
 * It is the full size of the screen minus the navbar
 * at the top. It is to the current component as the
 * body of an HTML document is. 
 */
 :host {
    position: absolute; 
    left: 0px; 
    top: 0px; 
    padding-top: 3.5rem;
    height: 100%; 
    width: 100%; 
 }

.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
    color: blue;
}
.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color:black;
}
<<<<<<< HEAD
.mat-label{
    color: black;
}
=======







.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }




.automargin {
  margin: auto; 
}

.center {
  margin-left: 25%; 
  margin-right: 25%; 
}
>>>>>>> stupid styling add trip
