<div class="card mb-4 box-shadow btn expand" [ngClass]="{'dim': del_confirm}">

    <a [routerLink]="" class="fake-button" style="height: 100%; width: 100%; top: 0px; left: 0px; position: absolute;"></a>
        
    <div class="card-body card-header">
        <h3>{{activity.name}}</h3>
    </div>

    <div class="card-body">

        <p class="card-text">
            {{activity.vicinity}}
        </p>

        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group" [ngClass]="{'w-100': del_confirm}">
                <button (click)="clickDelete()" [ngClass]="{'hide': del_confirm}" type="button" id="del"
                    class="btn btn-sm btn-outline-secondary">Delete</button>
                <button (click)="cancelDelete()" [ngClass]="{'btn btn-sm btn-secondary': del_confirm, 'hide': !del_confirm}" type="button" id="del"
                    class="">Cancel</button>
                <button (click)="deleteActivity(activity.place_id)" [ngClass]="{'btn btn-sm btn-danger': del_confirm, 'hide': !del_confirm}" type="button" id="del"
                    class="">Confirm</button>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <mat-icon *ngIf="is_food" [ngClass]="{'hide': del_confirm}">local_dining</mat-icon>
                <mat-icon *ngIf="is_lodging" [ngClass]="{'hide': del_confirm}">local_hotel</mat-icon>
                <mat-icon *ngIf="is_tourist" [ngClass]="{'hide': del_confirm}">local_see</mat-icon>
            </div>
        </div>

    </div>

</div>