/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
body {
    min-height: 100%;
  }
  
  
*,*:focus,*:hover{
    outline:none !important;
}

.mat-button-focus-overlay {
    background-color: transparent!important;
}