<div class="text-center main">
    <div class="container">

        <div *ngIf="error" class="alert alert-danger">
            {{error}}
        </div>

        <form [formGroup]="signupForm" (ngSubmit)="register()" class="form-signin" style="padding-bottom: 150px">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
            <label for="username" class="sr-only">Username</label>
            <input type="text" formControlName="username" id="inputEmail"
                [ngClass]="{ 'is-invalid': submitted && signupForm.controls.username.errors }" class="form-control"
                placeholder="Username" required autofocus>
            <div *ngIf="submitted && signupForm.controls.username.errors" class="invalid-feedback">
                <div *ngIf="signupForm.controls.username.errors.required">Username is required</div>
            </div>
            <label for="password" class="sr-only">Password</label>
            <input type="password" formControlName="password" id="inputPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && signupForm.controls.password.errors }" placeholder="Password"
                required>
            <div *ngIf="submitted && signupForm.controls.password.errors" class="invalid-feedback">
                <div *ngIf="signupForm.controls.password.errors.required">Password is required</div>
            </div>
            <button [disabled]="loading" class="btn btn-lg btn-primary btn-block" type="submit"
                style="margin-top: 3rem">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Create account
            </button>
            <a routerLink="../home" class="btn btn-link">Go home</a>
        </form>
    </div>
</div>