<div *ngIf='trips.length>0'>
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div *ngFor='let item of trips' class="col-md-4">
                    <app-trip-card [trip]=item>
                    </app-trip-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf='trips.length==0' class="text-center main">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        <header class="masthead mb-auto" style="margin: auto">
            <div class="inner">
                <h1 class="cover-heading" style="font-size: 4rem">DayTripper</h1>
            </div>
        </header>

        <main role="main" class="inner cover" styel="margin-bottom: auto">
            <p class="lead">Dream. Plan. Go.<br>Map out every stop on your next road trip.<br>Create an account to start
                your journey.</p>
            <p class="lead">
                <a routerLink='../register' routerLinkActive='active' class="btn btn-lg btn-secondary">Get started</a>
            </p>
        </main>

    </div>
</div>