<div *ngIf='trips.length>0'>
    <ul>
        <li *ngFor='let item of trips'>

            <a [routerLink]="['/trip',item._id]" class="btn btn-outline-info my-2 my-sm-0"
                style="color:black; font-size:2vw; font-weight:400;">
                <div class="tripName">
                    <strong> {{item.name}} </strong>
                </div>
                <div class="tripDesc">
                    <i>{{item.description}} </i>
                </div>
            </a>
            <div class="del">
                <button type="button" (click)="deleteTrip(item._id)" class="btn btn-primary">Delete Trip</button>
            </div>
            <br/>

        </li>
    </ul>
</div>
<div *ngIf='trips.length==0'>No records found</div>