/* This is the container of this component. 
 * It is the full size of the screen minus the navbar
 * at the top. It is to the current component as the
 * body of an HTML document is. 
 */
:host {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-top: 3.5rem;
  height: 100%;
  width: 100%;
}

.floating-btn {
  position: fixed; 
  background-color: #007bff;
  color: white;
  z-index: 10; 
}

.custom-container {
  height: 100%; 
  width: 100%; 
  padding: 3rem; 
  overflow: scroll; 
}

mat-button-toggle-group {
  position: absolute; 
  z-index: 2; 
}

.centered {
  width: 10%; 
  margin: auto; 
}

.map {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  z-index: 1;
}

.listing {
  position: absolute;
  height: 90%;
  overflow: auto;
  top: 10%;
  cursor: pointer;
  overflow-x: hidden;
  z-index: 10000000000000;
}
#sideBar{
  width: 100%;
  position: absolute;
  height: 50%;
  left: 70%;
  justify-content: start;
  top: 30%;
  display: flex;
  flex-direction: row;
}
#resultsTable{
    width: 100%;
}
#toggleContainer{
  justify-content: center;
  height: 10%;
  width: 100%;
  /* display: flex; */
  background-color: rgb(240, 240, 240);
  flex-direction: row;
  z-index: 100000;
}
// .no-activities {
//   top: 65%; 
// }