<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0xQbma77tUGQYTH32GR7UJKatgV3vjl0&callback=initAutocomplete&libraries=places&v=weekly"
  defer>
  </script>

<button mat-button class="floating-btn" (click)="goBack()">
  <mat-icon> arrow_back</mat-icon>
</button>

<div class="row h-100 w-100 m-0">

  <div class="col custom-container">
    <h1 class="text-center mb-4">Saved Activities</h1>
    <div class="row">

      <!-- <div *ngIf="this.subTripLocation.activities.length>0" class="w-100"> -->
      <div *ngFor="let activity of this.subTripLocation.activities" class="col-xl-6">
        <app-activity-card [activity]=activity></app-activity-card>
      </div>
      <!-- </div> -->

      <!-- <div *ngIf="this.subTripLocation.activities.length==0" class="w-100">
        <h2 class="text-center m-5">
          You currently have no activies planned. <br> Select one from the map and click "save".
        </h2>
      </div> -->

    </div>
  </div>

  <div class="col p-0">

    <div class="centered">
      <mat-button-toggle-group class="m-auto" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="bg-primary" value="restaurant" (change)="onValChange($event.value)">
          <mat-icon> local_dining</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle class="bg-primary" value="lodging" (change)="onValChange($event.value)">
          <mat-icon> local_hotel</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle class="bg-primary" value="tourist_attraction" (change)="onValChange($event.value)">
          <mat-icon> local_see</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <input class="search" type="text" placeholder="Search for a Place">

    <div #gmap class="map">
    </div>

    <div class="listing">
      <table id="resultsTable">
        <tbody id="results"></tbody>
      </table>
    </div>
  </div>



  <div style="display: none">
    <div id="info-content">
      <table>
        <tr id="iw-url-row" class="iw_table_row">
          <td id="iw-icon" class="iw_table_icon"></td>
          <td id="iw-url"></td>
        </tr>
        <tr id="iw-address-row" class="iw_table_row">
          <td class="iw_attribute_name">Address:</td>
          <td id="iw-address"></td>
        </tr>
        <tr id="iw-phone-row" class="iw_table_row">
          <td class="iw_attribute_name">Telephone:</td>
          <td id="iw-phone"></td>
        </tr>
        <tr id="iw-rating-row" class="iw_table_row">
          <td class="iw_attribute_name">Rating:</td>
          <td id="iw-rating"></td>
        </tr>
        <tr id="iw-website-row" class="iw_table_row">
          <td class="iw_attribute_name">Website:</td>
          <td id="iw-website"></td>
        </tr>
        <button mat-button class="actionButton" (click)="saveActivity()">
          Save
        </button>

      </table>
    </div>
  </div>
</div>